  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.container.home {
  background-image: url('./assets/mountains-universe-1.png');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: bottom;
}
.container.explorer {
  background-image: url('./assets/mountains-universe-3.png');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: bottom;
}
.container.universe {
  background-image: url('./assets/mountains-universe02.png');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: bottom;
}



.navContainer {
  width: 100vw;
  position: absolute;
  z-index: 3;
}

nav {
  padding: 4rem 7.2rem;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

a{
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 400;
  color: white
}

a:hover{
  font-weight: 700;
}

a:visited{
  color: rgb(199, 199, 199)
}

.container.home {
  text-align: center;
  padding: 40rem;
}

h1 {
  font-size: 4.8rem;
  color: #E1E1E6;
}

button{
  margin-top: 2.4rem;
  text-transform: uppercase;
  background: none;
  color: white;
  padding: 1.2rem 3.2rem;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
}

button:hover{
  background-color: #FFFFFF;
  color: hsla(194, 97%, 31%, 1);
}

.container.universe,
.container.explorer
{
  padding: 30.5rem 10rem;
}

p {
  margin-top: 1.6rem;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #E1E1E6;
  max-width: 64.8rem;
}

